<footer class="bg-dark py-5">
  <div class="container">
    <div class="row">
      
      
      <div class="col-md-3">
        <h5 class="text-white mb-3">Liens rapides</h5>
        <ul class="list-unstyled">
          <li><a href="{{ path('app_home') }}" class="text-muted">Home</a></li>
          <li><a href="#" class="text-muted">Nouveautés</a></li>
          <li><a href="#" class="text-muted">Mon compte</a></li>
         
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-white mb-3">Who are us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-muted">Mentions légales</a></li>
          <li><a href="#" class="text-muted">CGV</a></li>
          <li><a href="#" class="text-muted">Politique de confidentialité</a></li>
        </ul>
      </div>
           <div class="col-md-6 col-lg-2">
                <h5 class="text-white mb-3">Suivez-nous</h5>
                <nav class="list-unstyled d-flex justify-content-center justify-content-md-start">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
                    </ul>
                </nav>
            </div>
      <div class="col-md-3">
        <h5 class="text-white mb-3">Newsletter</h5>
        <p class="text-muted">Pour être avertis de toutes les nouveautés, offres et événements.</p>
        <form action="#">
          <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="Adresse email" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>