<footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row text-center text-md-start gy-4 gx-5 w-100 m-auto">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">my shop</h5>
                    <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <p class="small text-muted mb-0">&copy; Réalisé par <a href="" target="_blank" class="text-muted"></a> - Tous droits réservés.</p>
                </div>
                <div class="col-md-6 col-lg-2">
                    <nav class="list-unstyled text-muted">
                    <h5 class="text-white mb-3">Liens rapides</h5>
                    <ul>
                        <li><a href="{{path('app_home') }}">Accueil</a></li>
                        <li><a href="#">Nouveautés</a></li>
                        <li><a href="#">Mon compte</a></li>
                        <li><a href="#">Mes favoris</a></li>
                        <li><a href="#">Outlet</a></li>

                    </ul>
                    </nav>
                </div>
                <div class="col-md-6 col-lg-2">
                    <h5 class="text-white mb-3">Qui sommes-nous</h5>
                    <nav class="list-unstyled text-muted">
                        <ul>
                            <li><a href="#">Mentions légales</a></li>
                            <li><a href="#">CGV</a></li>
                            <li><a href="#">Politique de confidentialité des données</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">Pour être avertis de toutes les nouveautés, offres et événements.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Adresse email" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>