{% extends 'base.html.twig' %}

{% block title %}Ritialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Reset password</h1>
            {{ form_start(passForm) }}
                <div class="input-group">
                    {{ form_widget(passForm.password, {'attr': {'class': 'form-control', 'autocomplete': 'new-password'}}) }}
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fas fa-eye" id="toggle-password"></i>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Send</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>
<script>
    const togglePassword = document.querySelector('#toggle-password');
    const password = document.querySelector('#{{ passForm.password.vars.id }}');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye icon
        this.classList.toggle('fa-eye-slash');
    });
</script>



{% endblock %}
