{% extends 'base.html.twig' %}

{% block title %}New Tara{% endblock %}

{% block body %}
    <h1>Create new Tara</h1>

    {{ include('tara/_form.html.twig') }}

    <a href="{{ path('app_tara_index') }}">back to list</a>
{% endblock %}
