{% extends 'base.html.twig' %}

{% block title %}Edit Countries{% endblock %}

{% block body %}
    <h1>Edit Countries</h1>

    {{ include('countries_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_countries_crud_index') }}">back to list</a>

    {{ include('countries_crud/_delete_form.html.twig') }}
{% endblock %}
