{% extends 'base.html.twig' %}

{% block title %}Edit Continents{% endblock %}

{% block body %}
    <h1>Edit Continents</h1>

    {{ include('continents_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_continents_crud_index') }}">back to list</a>

    {{ include('continents_crud/_delete_form.html.twig') }}
{% endblock %}
