
{% block title %}Reset password for Mysite{% endblock %}

{% block body %}

     <h2>Hi, {{ user.FirstName }} {{ user.LastName }},</h2>

    <p>We received a request to reset your password for Mysite .</p>

    <p>Please click on the link below to reset your password:</p>

    <p><a href="{{ url }}">{{ url }}</a></p>

    <p>If you didn't request a password reset, you can ignore this email.</p>

     <p>Best regards,</p>
    <p>My name</p>
{% endblock %}
