




{% block title %}Reset password{% endblock %}

{% block body %}
    <h1>Password reset</h1>

    <p>Please click on the link below to reset your password:</p>

    <p><a href="{{ url }}">{{ url }}</a></p>

<<<<<<< HEAD
    <p>If you didn't request a password reset, you can ignore this email.</p>

     <p>Best regards,</p>
    <p>My name</p>
=======
    <p>If you have not requested to reset your password, you can ignore this email</p>
>>>>>>> commentsdisplay
{% endblock %}
