<html>
<div class="search-container">
  <input type="text" placeholder="Lovina">
  <input type="text" placeholder="17/04/2023">
  <input type="text" placeholder="1 semaine">
  <input type="text" placeholder="2 adultes">
  <button type="submit">Rechercher</button>
</div>
</html>

<style>
.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  
}
</style>