{% block content %}
    
    <div class="container2">
    <div class="row">
    </div>
    {% include 'bodytemplate.html.twig' %}
  </div>  

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel-container" style="margin-left: 50px;">
        {{ include('bodytemplate2.html.twig') }}
      </div>
    </div>
  </div>
</div> 
{% endblock %}


</body>


<style>
body {
background-image: url('./images/blue-sky-scaled.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  
}

{# .carousel-container {
  margin-top: 10px;
} #}




.container2 {
 
  /* The fourth parameter is the alpha channel, which controls the transparency of the color. 0.7 sets it to 70% opaque. */
  padding: 20px;
  margin-top: 30px;
  width: 85%;
  margin-left: auto;
  margin-right:auto;
  background-color: grey;
  border: 2px  solid white;

  
}


@media screen and (min-width: 768px) {
  .carousel-container {
    margin-left: 50px;
  }
}
</style>
<body>

