{% extends 'base.html.twig' %}

{% block title %}New Oras{% endblock %}

{% block body %}
    <h1>Create new Oras</h1>

    {{ include('oras/_form.html.twig') }}

    <a href="{{ path('app_oras_index') }}">back to list</a>
{% endblock %}
